# Ignore the following
__pycache__/
*.py[cod]
*.sqlite[3]
.idea
.vscode/

docs/_build/

*.egg-info/
npm-debug.log
node_modules/

*.mo

!docker/postgres/data/.gitkeep
docker/postgres/data/*

logs/

proxy/config_prod.py
proxy/config.py
proxy/static/

static/npm_components
